/**
 * This mixin provides a clearfix solution by adding a pseudo-element (::after) to the parent element.
 * The pseudo-element has the 'clear' property set to 'both' to clear any floated child elements.
 * The 'display' property is set to 'table' to create a new block formatting context.
 */
@keyframes moveInLeft {
  0% {
    opacity: 0;
    /**
     * Translates the element horizontally by 100 pixels to the left.
     */
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(2rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
:root {
  box-sizing: border-box;
  --light-green: #7ed56f;
  --medium-green: #55c57a;
  --dark-green: #28b485;
  --semi-transparent-green: rgba(126, 213, 111, 0.8);
  --semi-transparent-blue: rgba(52, 172, 224, 0.8);
  font-size: 62.5%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  /* 
      Font-related properties are inherited 
  */
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777;
  padding: 3rem;
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all 0.2s;
}
.heading-secondary:hover {
  transform: skewY(2deg) skewX(15deg) scale(1.1);
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
}

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: 1.6rem;
  margin-bottom: 3rem;
}
.paragraph:not(:last-child) {
  margin-bottom: 3rem;
}

.u-center-text {
  text-align: center;
}

.u-margin-bottom-big {
  margin-bottom: 8rem;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem;
}

/* The .btn:link and .btn:visited selectors target buttons in their default and visited states respectively */
.btn {
  /* Converts text to uppercase */
  text-transform: uppercase;
  /* Removes any text decoration like underline */
  text-decoration: none;
  /* Makes the element inline-block */
  display: inline-block;
  /* Adds padding of 15px top and bottom, 40px left and right */
  padding: 1.5rem 4rem;
  /* Makes the corners of the button rounded */
  border-radius: 10rem;
  /* Adds a transition effect for all properties in 0.2s */
  transition: all 0.2s;
  position: relative;
}
.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
.btn--white {
  background-color: #fff;
  color: #777;
}
.btn--white::after {
  border: 2px solid white;
}
.btn--animated {
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
}
.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  /*
  Above, we have applied the following styles:

  .btn {
      position: relative;
  }

  Therefore, we now want to position the ::after pseudoelement relative to the .btn element.
  */
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #55c57a;
  display: inline-block;
  text-decoration: none;
  text-decoration: 1px solid #55c57a;
  padding: 3px;
  transition: all 0.2s;
  border-radius: 10px;
}
.btn-text:hover {
  background-color: #55c57a;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  transform: translateY(-3px);
  transition: all 0.2s;
}
.btn-text:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.composition {
  position: relative;
}
.composition__photo {
  width: 55%;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  /*
      add:
          .composition {
              position: relative;
          }
  */
  position: absolute;
  transition: all 0.2s;
  outline-offset: 2rem;
}
.composition__photo:hover {
  outline: 1.5rem solid #55c57a;
  transform: scale(1.05) translateY(-0.5rem);
  box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
  z-index: 10;
}
.composition__photo--p1 {
  left: 0;
  top: -2rem;
}
.composition__photo--p2 {
  right: 0;
  top: 2rem;
}
.composition__photo--p3 {
  left: 20%;
  top: 10rem;
}
.composition:hover .composition__photo:not(:hover) {
  transform: scale(0.95);
}

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: transform 0.2s;
}
.feature-box:hover {
  transform: scale(1.05) translateY(-1.5rem);
}
.feature-box__icon {
  font-size: 6rem;
  margin-bottom: 0.5rem;
  display: inline-block;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  background-clip: text;
  color: transparent;
}
.header {
  height: 95vh;
  /* NB: Applying background-image is distinct from using <img> tag */
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(52, 172, 224, 0.8)), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  /* 
      Other possible values for background-position:
      center, left, right, bottom
  ; */
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative;
}
.header__logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem;
}
.header__text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.header .logo {
  height: 3.5rem;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
}
.heading-primary--main {
  /* Apply display: block to both parts of the heading text */
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3.5rem;
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  /* animation-iteration-count: 3; */
  /* animation-delay: 3s; */
}
.heading-primary--sub {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1.7rem;
  animation-name: moveInRight;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}
.heading-primary a {
  margin: 0 auto;
}

/**
 * FILEPATH: /workspaces/advanced-css-course/Natours/starter/sass/layout/_grid.scss
 * 
 * This file contains the styles for the grid layout of the Natours website.
 * It defines the classes for rows and columns, as well as their widths and margins.
 * The grid system is based on a 12-column layout, with responsive classes for different screen sizes.
 */
.row {
  max-width: 114rem;
  margin: 0 auto;
  /* 
      The general formula is as follows:

      - For the first column in a row:

      .col-1-of-y {
          width: calc((100% - (y - 1) * gutter) / y);
      }

      where y is the number of columns in the row and gutter is the horizontal gutter width.

      - For all other columns in a row:

      .col-x-of-y {
          width: calc(x * ((100% - (y - 1) * gutter) / y) + gutter);
      }

      where x is the column number and y is the number of columns in the row.
  */
}
.row:not(:last-child) {
  margin-bottom: 8rem;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
.row [class^=col-] {
  float: left;
}
.row [class^=col-]:not(:last-child) {
  margin-right: 6rem;
}
.row .col-1-of-2 {
  width: calc((100% - 6rem) / 2);
  float: left;
}
.row .col-1-of-3 {
  width: calc((100% - 2 * 6rem) / 3);
}
.row .col-2-of-3 {
  width: calc(2 * (100% - 2 * 6rem) / 3 + 6rem);
}
.row .col-1-of-4 {
  width: calc((100% - 3 * 6rem) / 4);
}
.row .col-2-of-4 {
  width: calc(2 * (100% - 3 * 6rem) / 4 + 6rem);
}
.row .col-3-of-4 {
  width: calc(3 * (100% - 3 * 6rem) / 4 + 2 * 6rem);
}

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh;
}

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(52, 172, 224, 0.8)), url(../img/nat-4.jpg);
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -15rem;
}
.section-features > * {
  transform: skewY(7deg);
}

/*# sourceMappingURL=style.css.map */
